.main {
  background-color: #28282B;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 5rem;
  margin: 0;
  margin-bottom: 20px;
}

.subtitle {
  color: white;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
}

.app-button {
  background-color: #20C997;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
}
